@charset "UTF-8";

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, em, img, strong,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
aside, footer, header,
menu, nav, button{
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	font-family: '나눔고딕', Nanumgothic, Dotum, '돋움', sans-serif;
}
a{
	text-decoration: none;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET */
body{
	width: 100%;
	height: 100%;
}

.blind{
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.logo_background{
	position: fixed;
	top: 0;
	width: 100%;
	height: 66px;
	background-color: rgba(64, 64, 64, 0.75);
	z-index: 2;
}

.logo_link{
	background: url(../image/logo.png) no-repeat center center;
	display: block;
	width: 106px;
	height: 22px;
	margin-top: 22px;
	position: fixed;
	left: 50%;
	margin-left: -510px;
}

.foodwith_wrap{
	background: url(../image/section_invite.jpg) no-repeat center;
	width: 100%;
	height: 750px;
}

.creator_wrap{
	background: url(../image/section_creator.jpg) no-repeat center;
	width: 100%;
	height: 822px;
	margin: 0 auto;
	background-color: #f9939d;
}

.store_wrap{
	background: url(../image/section_store.jpg) no-repeat center;
	width: 100%;
	height: 1084px;
}

.store_list{
	width: 980px;
	margin: 0 auto;
	padding-top: 300px;
}

.store_item{
	display: inline-block;
	margin-right: 15px;
	position: relative;
	margin-bottom: 140px;
}

.store_item:nth-child(4n+4){
	margin-right: 0;
}

.store_img_wrap{
	width: 230px;
	height: 230px;
}

.store_img_wrap img{
	border-radius: 10px;
	margin-bottom: 140px;
}

.store_img_wrap a{
	display: block;
	width: 230px;
	height: 230px;
}

.dimmed_wrap{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	color: #fff;
	background-color: rgba(96, 132, 2, 0.9);
	border-radius: 10px;
}

.dimmed_text_wrap{
	margin-top: 66px;
}

.percent{
	font-size: 65px;
	font-weight: bold;
}

.time{
	font-size: 20px;
}

.store_img_wrap:hover .dimmed_wrap{
	display: block;
}
.item_title{
	display: block;
	font-size: 20px;
	color: #1b1d21;
	padding: 0 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.item_price{
	font-size: 28px;
	font-weight: bold;
	color: #1b1d21;
}

.item_info{
	position: absolute;
	top: 250px;
	margin: 0 auto;
	width: 230px;
	text-align: center;
}

.recipe_wrap{
	width: 100%;
	height: 1030px;
	background: #b893f9 url(../image/pattern_recipe.png) repeat-x center center ;

}
.recipe_background_wrap{
	background: url(../image/section_recipe.png) no-repeat center center;
	width: 100%;
	height: 1030px;
	position: relative;
}

.cake_recipe{
	position: absolute;
	width: 480px;
	height: 482px;
	left: 50%;
	top: 36.3%;
	margin-left: -490px;
}

.tart_recipe{
	position: absolute;
	width: 480px;
	height: 482px;
	left: 50%;
	top: 36.3%;
	margin-left: 10px;
}

.recipe_link{
	width: 310px;
	height: 91px;
	display: block;
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -155px;
}

.button_over{
	display: none;
}

.recipe_link:hover .button_over{
	display: block;
}

.recipe_link:hover .button_img{
	display: none;
	margin: 0 auto;
}

.faq_wrap{
	margin-top: 70px;
}

.faq_img_wrap{
	text-align: center;
	margin-bottom: 20px;
}

.faq_content{
	margin-top: -1px;
}

.question_wrap{
	position: relative;
	width: 980px;
	border-top: 1px solid #a1a5ad;
	margin: 0 auto;
	text-align: left;
}

.question_text p::before{
	display: inline-block;
	background: url(../image/icon_question.gif) no-repeat 0 0;
	content: '';
	width: 21px;
	height: 20px;
}

.question_text{
	max-width: 902px;
	font-size: 20px;
	font-weight: bold;
	color: #1b1d21;
	line-height: 21px;
	margin-top: 30px;
	padding: 0 5px 20px 20px;
}

.arrow_wrap{
	position: absolute;
	top: 0;
	right: 0;
	width: 58px;
	height: 100%;
}

.arrow{
	width: 58px;
	height: 100%;
	background-color: transparent;
}

.arrow:before {
	display: inline-block;
	background: url(../image/icon_arrow_down.gif) no-repeat center center;
	width: 23px;
	height: 12px;
	content: '펼침';
	margin-top: 30px;
	color: transparent;
}

.arrow label{
	display: inline-block;
	width: 58px;
	height: 100%;
	cursor: pointer;
	margin-top: -67px;
}

input[id*=question]:checked + div .arrow:before {
	display: inline-block;
	background: url(../image/icon_arrow_up.gif) no-repeat center center;
	width: 23px;
	height: 12px;
	content: '닫힘';
	margin-top: 30px;
}

.answer_wrap{
	width: 980px;
	margin: 0 auto;
	background-color: #f7f8fa;
	border-bottom: 1px solid #a1a5ad;
	max-height: 0;
	overflow: hidden;
}

.answer_wrap p{
	padding: 20px;
}

.answer_wrap p::before{
	display: inline-block;
	background: url(../image/icon_answer.gif) no-repeat 0 0;
	content: '';
	width: 21px;
	height: 17px;
}

.answer_wrap p{
	font-size: 16px;
	color: #60656e;
	line-height: 28px;
}

.faq_content:last-child{
	margin-bottom: 100px;
}

input[id*=question]:checked + div + div{
	max-height: 100%;
}

.top_icon{
	position: fixed;
	right: 0;
	bottom: 180px;
}

footer{
	width: 100%;
	height: 80px;
	background-color: #e0e4eb;
	font-size: 18px;
	color: #70757d;
}

.footer_text{
	text-align: center;
	padding-top: 30px;
}


@media screen and (min-width: 1920px) {
	.foodwith_wrap{
		background-color: #fff;
	}

	.creator_wrap{
		background-color: #f9939d;
	}

	.store_wrap{
		background-color: #d5e43f;
	}
	.recipe_wrap{
		background-color: #b893f9;
	}

	.faq_wrap{
		background-color: #fff;
	}
}
